html {
  scroll-behavior: smooth;
}
.footerRow {
  margin: 0 -200px;
}

.cursor-pointer {
  cursor: pointer;
}

.color-green {
  color: #27ae60;
}
.color-blue {
  color: #2d9cdb;
}
.color-orange {
  color: #f2994a;
}
.color-gray {
  color: #869ab8;
}

.padding-none {
  padding: 0;
  margin: 0;
}

.magicBot {
  right: 60px;
  bottom: -30px;
  z-index: 10;
  position: absolute;
  height: 300px;
}
@media (max-width: 1400px) {
  .footerRow {
    margin: 0 0;
  }
}

.cusNavbar {
  position: absolute;
  width: 100%;
}

.heroBackground {
  position: relative;
  background-image: url("../img/home/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width: 768px) {
  .heroBackground {
    background-image: none;
    height: 100%;
    padding: 8rem 0;
    background-color: #fdf5e5;
  }
}

.back1 {
  background-image: url("../img/home/rectangle1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.back2 {
  background-image: url("../img/home/rectangle3.svg");
  background-repeat: no-repeat;
}

@media (min-width: 1400px) {
  .footerRow {
    margin: 0 0;
  }
  .back2 {
    background-size: cover;
  }
}
